<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</head>

<body>
    <div ng-app="" ng-init="countries = [{locale:'en-US',name:'United States'}, 
    {locale:'en-GB',name:'United Kingdom'}, 
    {locale:'en-FR',name:'France'}]">
        <ol>
            <li ng-repeat="country in countries">
                {{ 'Country: ' + country.name + ', Locale: ' + country.locale }}
            </li>
        </ol>
    </div>
</body>

</html>